.campo {
  margin: 24px 0;
  border: none;
}

.campo label {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
}

.campo input {
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  width: 100%;
  border: none;
  font-size: 24px;
  padding: 24px;
  box-sizing: border-box;
}

.campo input[type = color]{
/* .campo-color input { */
  height: 40px;
  padding: 5px 24px;
}
